div{
  /*background-color: #FFA500;
  width: 1500px;
  padding:20px;
  border:20px solid #FF8C00;
  margin: 0px auto;*/
}

h1{
  text-align: center;
}

body{
  background-color: orange;
  border:10px solid #FF8C00;
  margin: 0px auto;
}

p{
  font-size: 14px;
}

.choice {
  background-color: #4CAF50;
  border-radius: 15px;
  font-size: 36px;
  /*padding: 28px 80px*/;
  height: 120px;
  width: 250px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  box-shadow: 0 9px #999;
  transition: 0.4s;}

.choice:hover {background-color: #3e8e41}

.choice:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.action {
    background-color: #B43047;
    border-radius: 15px;
    font-size: 48px;
    /*padding: 21px 60px;*/
    height: 120px;
    width: 250px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    box-shadow: 0 9px #999;
    transition: 0.4s;}

.action:hover {background-color: #902638}

.action:active {
      background-color: #902638;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }

mark {
  background-color:#37aba8;
  color:black;
  border-radius: 15px;}

/*.explication{
  border: 3px solid #000000
}*/
